html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}



body::-webkit-scrollbar{
    display: none;
}
.section1 {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1 p {
    margin: 0;
    text-align: center;
    color: red;
    display: none;
}

.input {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.input input[type="text"] {
    width: 70%;
    height: 30px;
    padding: 10px;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-size: larger;
    color: white;
    background-color:rgba(116, 87, 87, 0);
}

.input button {
    height: 50px;
    width: 50px;
    margin-left: 5px;
    border: none;
    border-radius: 50%;
    background-color: rgb(0, 83, 217);
    color: rgb(241, 241, 241);
    font-size:xx-large;
    cursor: pointer;
}

.input button:hover {
    background-color: rgb(0, 68, 170);
}

.information {
    width: 100%;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.today-weather,.tenday-weather,.hourly-weather{
    padding: 20px;
    border-radius: 30px;
    min-width: 300px;
}

.today-weather {
    background-color: rgba(26, 25, 25, 0.548);
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    align-items: center;
}

.information .today-weather .today-temperature{
    max-height: 220px;
}
.information .today-weather .today-details{
    height: fit-content;
}

.information .today-weather .today-temperature #image{
    background-image: url(cloud.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
}
.information .today-weather .today-temperature #condition{
    text-align: center;
}

.information .today-weather .today-temperature #celcius{
    font-size: 30px;
    text-align: center;
}

.information .today-weather .today-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    grid-auto-flow: rows;
    justify-items: center;
    gap: 20px;
}

.information .today-weather .today-details .details{
    height: 100px;
    width: 100px;
    background-color: rgba(23, 23, 23, 0);
    border-radius: 20px;
}

.information .today-weather .today-details #humidity #icon{
    background-image: url(humidity.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.information .today-weather .today-details #max-temp #icon{
    background-image: url(hot.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.information .today-weather .today-details #windspeed #icon{
    background-image: url(wind.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.information .today-weather .today-details #wind-direction #icon{
    background-image: url(north.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.information .today-weather .today-details #visibility #icon{
    background-image: url(visibility.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.information .today-weather .today-details #date #icon{
    background-image: url(calendar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.information .today-weather .today-details #date #value{
    font-size: 15px;
}

#humidity,#max-temp,#windspeed,#wind-direction,#visibility,.information .today-weather .today-details #date{
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    gap: 15px;
}


.tenday-weather1{
    background-color: rgba(26, 25, 25, 0.548);
    border-radius: 20px; 
}

.tenday-weather1 #heading{
    margin: 0%;
    padding-top: 20px;
    margin-left: 18px;
}

.information .tenday-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.information .tenday-weather .days{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.248);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}


.information .tenday-weather .days .temp-symbol{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.information .tenday-weather .days .temp-symbol #symbol{
    background-image: url(cloud.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* .information .tenday-weather .days .temp-symbol #s */


@media screen and (max-width:850px) {
    .information{
        display: block;
    }
    .today-weather{
        margin-bottom:20px;
    }
}

@media screen and (max-width:500px) {
    .information .today-weather .today-details{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .section1{
        height: 100px;
    }
    .information .today-weather .today-temperature #celcius{
        font-size: 30px;
    }
    .information .today-weather .today-details .details{
        height: 80px;
        width: 80px;
    }
    .tenday-weather1 #heading{
        margin-left: 45px;
    }
    
}



.hourly-weather1{
    padding: 20px;
}

.hourly-weather{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(145, 144, 146, 0.248);
    border-radius: 20px;
}

.container{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    overflow-x: scroll;
    gap: 5px;
    
}

.container .hour{
    height: 90px;
    display: flex;
    min-width: 75px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;   
}
.container .hour #image{
    background-image: url(cloud.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hourly-weather .container .hour #time{
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.container::-webkit-scrollbar{
    display: none;
}

.hourly-weather #heading{
    margin: 0px;
    margin-top: 20px;
    margin-left: 15px;
}