html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar{
    display: none;
}
.section1 {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1 p {
    margin: 0;
    text-align: center;
    color: red;
    display: none;
    margin-top: 10px;
    font-size: 15px;
}

.section1 .input{
    width: 50%;
    height: 35px;
    display: flex;
    padding: 10px;
    border-radius: 60px;
    background-color: rgba(99, 99, 99, 0.332);
    gap: 5px;
}

.section1 .input input{
    flex: 1;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.section1 .input #search-btn{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: x-large;
}

.location{
    padding-left: 20px;
    display: flex;
    gap: 10px;
}

.location #icon{
    background-image: url(location.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    
}

.information {
    width: 100%;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.today-weather {
    background-color: rgba(54, 54, 54, 0.366);;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    align-items: center;
    gap: 30px;
}

.information .today-weather .today-temperature{
    max-height: 220px;
}
.information .today-weather .today-details{
    height: fit-content;
}

.information .today-weather .today-temperature #icon{
    background-image: url(sun.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
}

.information .today-weather .today-temperature #desc{
    text-align: center;
    margin-top: 10px;
}

.information .today-weather .today-temperature #condition{
    text-align: center;
}

.information .today-weather .today-temperature #celcius{
    font-size: 30px;
    text-align: center;
}

.information .today-weather .today-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    grid-auto-flow: rows;
    justify-items: center;
    gap: 20px;
}

.information .today-weather .today-details .details{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.information .today-weather .today-details #humidity #icon{
    background-image: url(humidity.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.information .today-weather .today-details #wind-direction #icon{
    background-image: url(direction.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.information .today-weather .today-details #windspeed #icon{
    background-image: url(wind.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.information .today-weather .today-details #pressure #icon{
    background-image: url(barometer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.information .today-weather .today-details #visibility #icon{
    background-image: url(visibility.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.information .today-weather .today-details #date #icon{
    background-image: url(calendar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.information .today-weather .today-details #date #value{
    font-size: 15px;
}

#humidity,#wind-direction,#windspeed,#pressure,#visibility,.information .today-weather .today-details #date{
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    gap: 10px;
    text-align: center;
}


.tenday-weather1,.today-weather,.hourly-weather{
    background-color:rgba(145, 144, 146, 0.248);
    border-radius: 20px; 
    padding: 20px;
    min-width: 300px;
}

.tenday-weather1 #heading{
    margin: 0%;
    margin-bottom: 15px;
}

.information .tenday-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.information .tenday-weather .day{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #5c5c5c3f;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}


.information .tenday-weather .day .temp-symbol{
    display: grid;
    grid-template-columns: 1.8fr 1fr;
}


.information .tenday-weather .day .temp-symbol #symbol{
    background-image: url(cloud.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


@media screen and (max-width:850px) {
    .information{
        display: block;
    }
    .today-weather{
        margin-bottom:20px;
    }
}

@media screen and (max-width:560px) {
    .information .today-weather .today-details{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .section1{
        height: 100px;
    }
    .information .today-weather .today-temperature #celcius{
        font-size: 30px;
    }
    .information .today-weather .today-details .details{
        height: 80px;
        width: 80px;
    }
    .section1 .input{
        width: 80%;
    }
}

.hourly-weather1{
    padding: 20px;
}

.hourly-weather{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(145, 144, 146, 0.248);
    border-radius: 20px;
}

.container{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    overflow-x: scroll;
    gap: 5px;
    
}

.container .hour{
    height: 90px;
    display: flex;
    min-width: 75px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;   
}
.container .hour #image{
    background-image: url(cloud-rain.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hourly-weather .container .hour #time{
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.container::-webkit-scrollbar{
    height: 10px;
}

.container::-webkit-scrollbar-track{
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
    scroll-behavior: smooth;
    cursor: pointer;
}
.container::-webkit-scrollbar-thumb{
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px slod black;
    cursor: pointer;
}

.hourly-weather #heading{
    margin: 0px;
    margin-top: 20px;
    margin-left: 15px;
}