<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/images/weather.png">
</head>
<body>

    <section class="section1">
        <section class="input">
            <input type="text" id="inplace" placeholder="Enter the location" autocomplete="off" required>
            <button id="search-btn" onclick="user_function()">⌕</button><br>
        </section>
        <p id="error-message">The city is not found</p>
    </section>
    <section class="location">
        <div id="icon"><img src="" alt=""></div>
        <div id="address"></div>
    </section>
    <section class="information">
        <div class="today-weather">
             <div class="today-temperature">
                <div id="icon">

                </div>
                <div id="celcius">
                    
                </div>
                <div id="desc"></div>
             </div>
             <div class="today-details">
                <div class = "details" id="date">
                    <div id="icon">

                    </div>
                    <div id="value">23 jun,2024</div>
                </div>
                <div class = "details" id="humidity">
                    <div id="icon">

                    </div>
                    <div id="value">47%</div>
                </div>

                <div class = "details" id="windspeed">
                    <div id="icon">

                    </div>
                    <div id="value">10 km/h</div>
                </div>
                <div class = "details" id="wind-direction">
                    <div id="icon">

                    </div>
                    <div id="value">North</div>
                </div>
                <div class = "details" id="visibility">
                    <div id="icon">

                    </div>
                    <div id="value">10km</div>
                </div>
                <div class = "details" id="pressure">
                    <div id="icon">

                    </div>
                    <div id="value">0.01 mb</div>
                </div>
                
             </div>
        </div>
        <div class="tenday-weather1">
            <p id="heading">10 Days forecast</p>
            <div class="tenday-weather">
                <!-- <div class="days" id="day0">
                    <div id="date"></div>
                    <div class="temp-symbol">
                        <div id="temp"></div>
                        <div id="symbol"></div>
                    </div>
                </div> -->
            </div>
        </div>
            
    </section>
    <section class="hourly-weather1">
        <section class="hourly-weather">
            <p id="heading">Daily Forecast</p>
            <div class="container">
                <div class="hour" id="hour1">
                    <div id="image"></div>
                    <div id="time">
                        00:00 AM
                    </div>
                </div>
                <div class="hour" id="hour2">
                    <div id="image"></div>
                    <div id="time">
                        01:00 AM
                    </div>
                </div>
                <div class="hour" id="hour3">
                    <div id="image"></div>
                    <div id="time">
                        02:00 AM
                    </div>
                </div>
                <div class="hour" id="hour4">
                    <div id="image"></div>
                    <div id="time">
                        03:00 AM
                    </div>
                </div>
                <div class="hour" id="hour5">
                    <div id="image"></div>
                    <div id="time">
                        04:00 AM
                    </div>
                </div>
                <div class="hour" id="hour6">
                    <div id="image"></div>
                    <div id="time">
                        05:00 AM
                    </div>
                </div>
                <div class="hour" id="hour7">
                    <div id="image"></div>
                    <div id="time">
                        06:00 AM
                    </div>
                </div>
                <div class="hour" id="hour8">
                    <div id="image"></div>
                    <div id="time">
                        07:00 AM
                    </div>
                </div>
                <div class="hour" id="hour9">
                    <div id="image"></div>
                    <div id="time">
                        08:00 AM
                    </div>
                </div>
                <div class="hour" id="hour10">
                    <div id="image"></div>
                    <div id="time">
                        09:00 AM
                    </div>
                </div>
                <div class="hour" id="hour11">
                    <div id="image"></div>
                    <div id="time">
                        10:00 AM
                    </div>
                </div>
                <div class="hour" id="hour12">
                    <div id="image"></div>
                    <div id="time">
                        11:00 AM
                    </div>
                </div>
                <div class="hour" id="hour13">
                    <div id="image"></div>
                    <div id="time">
                        12:00 PM
                    </div>
                </div>
                <div class="hour" id="hour14">
                    <div id="image"></div>
                    <div id="time">
                        01:00 PM
                    </div>
                </div>
                <div class="hour" id="hour15">
                    <div id="image"></div>
                    <div id="time">
                        02:00 PM
                    </div>
                </div>
                <div class="hour" id="hour16">
                    <div id="image"></div>
                    <div id="time">
                        03:00 PM
                    </div>
                </div>
                <div class="hour" id="hour17">
                    <div id="image"></div>
                    <div id="time">
                        04:00 PM
                    </div>
                </div>
                <div class="hour" id="hour18">
                    <div id="image"></div>
                    <div id="time">
                        05:00 PM
                    </div>
                </div>
                <div class="hour" id="hour19">
                    <div id="image"></div>
                    <div id="time">
                        06:00 PM
                    </div>
                </div>
                <div class="hour" id="hour20">
                    <div id="image"></div>
                    <div id="time">
                        07:00 PM
                    </div>
                </div>
                <div class="hour" id="hour21">
                    <div id="image"></div>
                    <div id="time">
                        08:00 PM
                    </div>
                </div>
                <div class="hour" id="hour22">
                    <div id="image"></div>
                    <div id="time">
                        09:00 PM
                    </div>
                </div>
                <div class="hour" id="hour23">
                    <div id="image"></div>
                    <div id="time">
                        10:00 PM
                    </div>
                </div>
                <div class="hour" id="hour24">
                    <div id="image"></div>
                    <div id="time">
                        11:00 PM
                    </div>
                </div>
                
            </div>
        </section>
        
    </section>

    <script src="/static/js/script.js"></script>
</body>
</html>
